html {
  scroll-behavior: smooth;
}

body {
  font-family: kanit;
  overflow-x: hidden;
  margin: 0;
}

p{
  font-family: lexend deca;
  font-weight: 100;
}


/** LOGIN **/

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  z-index: 1000; /* Ensure it's on top */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px; /* Increase padding for more space inside the popup */
  border-radius: 10px; /* Increase border radius for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increase box shadow for depth */
  z-index: 1001; /* Ensure it's on top of overlay */
  width: 400px; /* Set the width of the popup */
  max-width: 150%; /* Maximum width of the popup */
  max-height: 150%; /* Maximum height of the popup */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.popup-content {
  width: 300px;
  height: 300px;
  border: none;
}

.popup.active {
  display: block;
}

.popup-overlay.active {
  display: block;
}



/** BODY **/

.bliss1 /** BIG IMG **/ { 
  text-align: center;
  position: relative;
  left: 50px;
  width: 96%;
  backdrop-filter: blur(20px);
  transition: 0.5s ease;
  border-radius: 80px;
}


/** BLUR **/

.bliss1_blur {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 43.5%;
  height: 36.5%;
  left: 4%;
  top: 44.8%;
  border-radius: 15px;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  transition: 0.5s ease;

  &:hover {
    box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
      0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
      0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
  }
}

.bliss1_button {
  position: absolute;
  color: antiquewhite;
  z-index: 1;
  width: 20%;
  height: 10%;
  left: 70%;
  top: 80%;
  padding-top: 8px;
  border-radius: 5px;
  background-color:#273836;
  box-shadow: 5px 5px 5px #1b1b1b;
}

.bliss1_button:hover {
  background-color:#007f01;
  color: white;

}

.bliss1_head_1{
  font-size: 60px;
  letter-spacing: 10px;

}

.bliss1_head_2{
  font-size: 42px;
  letter-spacing: 10px;
  margin-top: -70px;
  margin-right: -4px;
  color: #1E731D;
}

.bliss1_text_1{
  width: 77%;
  margin-left: 90px;
  margin-top: -20px;
  font-size: 15px;
}

.body-firsthalf{
  background-color: white;
  padding-bottom: 70px;
  padding-top: 50px;
}

.body-half {
  background: linear-gradient(to right, #d0e4cc, white);
}

/** TEXT-IMG 1 **/

.head-subtext-box{ /**OUR SERVCE**/
  width: 700px;
  height: 400px;
  margin-top: 3%;
  margin-left: 8%;
  background-color: #ffffff; /* Background color */
  padding: 30px; /* Add padding for space around content */
  border-radius: 100px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for the shadow effect */
  text-align: justify;
  z-index: 1;
}

.text_img1{
  display: flex;
}

.dots{
  opacity: 20%;
  transform: translate(-120px, -10px);
}





 