body {
    font-family: lexend deca;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group .forgot-password {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.form-group .forgot-password a {
    color: #007f01;
    text-decoration: none;
}
.form-group .show-password {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.form-group .show-password input[type="checkbox"] {
    margin-right: 5px;
}
.sign-in-button {
    width: 100%;
    background-color: #007f01;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sign-in-button:hover {
    background-color: #007f01;
}